/* DARK-MODE-FORMATTING */
.dark-mode{
  background-color: var(--very-dark-blue-bg);
}

/* DARK-MODE-MAIN-HEADER */
.dark-mode-main-header,
.dark-mode-main-header h1 a,
.dark-mode-main-header button{
  background-color: var(--dark-blue);
  color: var(--white);
}

/* DARK-MODE-SEARCH INPUT AND SELECT */
.dark-mode-search div input,
.dark-mode-search select{
  background-color: var(--dark-blue);
  color: var(--very-light-gray);
}

.dark-mode-search select{
  background-image: url("data:image/svg+xml,<svg height='1.2rem' width='1.2rem' viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>");
  background-position: no-repeat;
  background-position: 15rem 1.8rem;
}


.dark-mode-search div span,
.dark-mode-search div input::placeholder{
  color: var(--very-light-gray);
}

/* DARK-MODE-CARD */
.cards ul .dark-mode-card{
  background-color: var(--dark-blue);
}

.cards ul .dark-mode-card > div h2{
  color: var(--white);
}

.cards ul .dark-mode-card > div p span{
  color: var(--dark-gray);
}

.cards ul .dark-mode-card > div p{
  color: var(--very-light-gray);
}